img
{
    border-radius: 50%;
}
.title-style
{
    text-shadow: 2px 2px 2px #FF0000;
}

/*
.ng-dirty.ng-valid{
    border-color: green;
}

.ng-invalid.ng-dirty{
    border-color: red;
}*/

.error{
    color:red;
    font-weight: 300;
}