<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chandni Patel</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mystyle.css">

</head>
<body>
<div class="container">
    <div class="row">
<div ng-controller="UserDataController as userVm">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="filter_data">
        </div>
    </form>
    <h2>{{userVm.name}}</h2>
    <!-- Insert user_data_tmpl template which contains table to display all user information -->
    <div ng-include="'user_data_tmpl.html'"></div>
</div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../script/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../script/app.js"></script>
<script src="../Controllers/FetchUserController.js"></script>
<script src="../Services/UserService.js"></script>
</body>
</html>